@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?inzlxp');
  src:  url('fonts/icomoon.eot?inzlxp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?inzlxp') format('truetype'),
    url('fonts/icomoon.woff?inzlxp') format('woff'),
    url('fonts/icomoon.svg?inzlxp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-result:before {
  content: "\e915";
}
.icon-edit:before {
  content: "\e913";
}
.icon-delete:before {
  content: "\e914";
}
.icon-add:before {
  content: "\e906";
}
.icon-document:before {
  content: "\e907";
}
.icon-folder:before {
  content: "\e908";
}
.icon-upload:before {
  content: "\e90b";
}
.icon-add-folder:before {
  content: "\e910";
}
.icon-file2:before {
  content: "\e911";
}
.icon-save:before {
  content: "\e912";
}
.icon-folder-open:before {
  content: "\e90e";
}
.icon-folder-open2:before {
  content: "\e90f";
}
.icon-file:before {
  content: "\e90d";
}
.icon-folder1:before {
  content: "\e90c";
}
.icon-folder11:before {
  content: "\e909";
}
.icon-submit:before {
  content: "\e90a";
}
.icon-people:before {
  content: "\e905";
}
.icon-eye:before {
  content: "\e903";
}
.icon-comment:before {
  content: "\e902";
}
.icon-love:before {
  content: "\e904";
}
.icon-bell:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
  color: #8a8a8a;
}
.icon-info:before {
  content: "\ea0c";
}
