@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xxmf5k');
  src:  url('fonts/icomoon.eot?xxmf5k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xxmf5k') format('truetype'),
    url('fonts/icomoon.woff?xxmf5k') format('woff'),
    url('fonts/icomoon.svg?xxmf5k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-people:before {
  content: "\e905";
}
.icon-eye:before {
  content: "\e903";
}
.icon-comment:before {
  content: "\e902";
}
.icon-love:before {
  content: "\e904";
}
.icon-bell:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
  color: #8a8a8a;
}
